USE [KQHT]
GO
/****** Object:  Table [dbo].[DangKiHoatDongNgoaiKhoa]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKiHoatDongNgoaiKhoa](
	[STT] [int] NULL,
	[MaDK] [varchar](10) NOT NULL,
	[MaSV] [int] NULL,
	[MaHD] [varchar](10) NULL,
	[NgayDK] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemRenLuyen]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemRenLuyen](
	[STT] [int] NULL,
	[MaRL] [varchar](10) NOT NULL,
	[MaSV] [int] NULL,
	[MaHD] [varchar](10) NULL,
	[DiemRL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaRL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemTrungBinh]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemTrungBinh](
	[STT] [int] NULL,
	[MaDTB] [varchar](10) NOT NULL,
	[MaSV] [int] NULL,
	[MaMH] [varchar](10) NULL,
	[DiemTB] [float] NULL,
 CONSTRAINT [PK__DiemTrun__3D894A0221C9777A] PRIMARY KEY CLUSTERED 
(
	[MaDTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[STT] [int] NULL,
	[MaGV] [varchar](10) NOT NULL,
	[TenGV] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[ChuyenMon] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoatDongNgoaiKhoa]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoatDongNgoaiKhoa](
	[STT] [int] NULL,
	[MaHD] [varchar](10) NOT NULL,
	[MaSV] [int] NULL,
	[TenHD] [nvarchar](50) NULL,
	[ThoiGianBD] [datetime] NULL,
	[ThoiGianKT] [datetime] NULL,
	[DiaDiem] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaHocTap]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaHocTap](
	[STT] [int] NULL,
	[MaKQ] [varchar](10) NOT NULL,
	[MaSV] [int] NULL,
	[TenSV] [nvarchar](50) NULL,
	[MaDTB] [varchar](10) NULL,
	[DiemTBM] [float] NULL,
	[MaRL] [varchar](10) NULL,
	[DiemRL] [int] NULL,
	[XepLoai] [nvarchar](20) NULL,
 CONSTRAINT [PK__KetQuaHo__2725CF111C2633D9] PRIMARY KEY CLUSTERED 
(
	[MaKQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[STT] [int] NULL,
	[MaMH] [varchar](10) NOT NULL,
	[TenMH] [nvarchar](100) NULL,
	[SoTinChi] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiangVienPhuTrach] [nvarchar](100) NULL,
	[MaGV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[STT] [int] NULL,
	[MaSV] [int] NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK__SinhVien__2725081AF95C43D9] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 10/11/2024 10:04:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKiHoatDongNgoaiKhoa]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoatDongNgoaiKhoa] ([MaHD])
GO
ALTER TABLE [dbo].[DangKiHoatDongNgoaiKhoa]  WITH CHECK ADD  CONSTRAINT [FK__DangKiHoat__MaSV__4222D4EF] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DangKiHoatDongNgoaiKhoa] CHECK CONSTRAINT [FK__DangKiHoat__MaSV__4222D4EF]
GO
ALTER TABLE [dbo].[DiemRenLuyen]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoatDongNgoaiKhoa] ([MaHD])
GO
ALTER TABLE [dbo].[DiemRenLuyen]  WITH CHECK ADD  CONSTRAINT [FK__DiemRenLuy__MaSV__45F365D3] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DiemRenLuyen] CHECK CONSTRAINT [FK__DiemRenLuy__MaSV__45F365D3]
GO
ALTER TABLE [dbo].[DiemTrungBinh]  WITH CHECK ADD  CONSTRAINT [FK__DiemTrungB__MaMH__4AB81AF0] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[DiemTrungBinh] CHECK CONSTRAINT [FK__DiemTrungB__MaMH__4AB81AF0]
GO
ALTER TABLE [dbo].[DiemTrungBinh]  WITH CHECK ADD  CONSTRAINT [FK__DiemTrungB__MaSV__49C3F6B7] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DiemTrungBinh] CHECK CONSTRAINT [FK__DiemTrungB__MaSV__49C3F6B7]
GO
ALTER TABLE [dbo].[HoatDongNgoaiKhoa]  WITH CHECK ADD  CONSTRAINT [FK__HoatDongNg__MaSV__3F466844] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[HoatDongNgoaiKhoa] CHECK CONSTRAINT [FK__HoatDongNg__MaSV__3F466844]
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD  CONSTRAINT [FK__KetQuaHoc__MaDTB__4E88ABD4] FOREIGN KEY([MaDTB])
REFERENCES [dbo].[DiemTrungBinh] ([MaDTB])
GO
ALTER TABLE [dbo].[KetQuaHocTap] CHECK CONSTRAINT [FK__KetQuaHoc__MaDTB__4E88ABD4]
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD  CONSTRAINT [FK__KetQuaHocT__MaRL__4F7CD00D] FOREIGN KEY([MaRL])
REFERENCES [dbo].[DiemRenLuyen] ([MaRL])
GO
ALTER TABLE [dbo].[KetQuaHocTap] CHECK CONSTRAINT [FK__KetQuaHocT__MaRL__4F7CD00D]
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD  CONSTRAINT [FK__KetQuaHocT__MaSV__4D94879B] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[KetQuaHocTap] CHECK CONSTRAINT [FK__KetQuaHocT__MaSV__4D94879B]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_GiangVien]
GO
